
<header>
  <nav>
    <div class="nav-left">
      <ul>
        {{ range .Site.Params.nav }}
        <li><a href="{{ .url }}" title="{{ .name }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
    </div>
    <div class="nav-right">
      <ul class="datetime">
        <li class="date">
          <i class="far fa-calendar"></i>&nbsp;
          <span id="current_date"></span>
        </li>
        <li class="time">
          <i class="far fa-clock"></i>&nbsp;
          <span id="current_time"></span>
        </li>
      </ul>
    </div>
  </nav>
</header>
